body{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    align-items: center;
    text-align: center;
}
.inputLetra{
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 2%;
    align-items: center;
    text-align: center;
}
.imagenHorcado{
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 2%;
    align-items: center;

}