body{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    align-items: center;
    text-align: center;
    background: #bfe0fa;
}
.inputLetra{
    margin-right: 37%;
    margin-left: 37%;
    margin-top: 2%;
    align-items: center;
    text-align: center;
}
.carta{
}
.imagenHorcado{
    margin-right: 41%;
    margin-left: 41%;
    margin-top: 2%;
    align-items: center;

}