body{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    align-items: center;
    text-align: center;
    background: #a0e5fa;
}
.body-game{
    background: #b0ddff;

}
.inputLetra{

    margin-left: 15%;
    margin-top: 2%;
    align-items: center;
    text-align: center;
}
.carta{

}
.imagenHorcado{
    margin-right: 41%;
    margin-left: 41%;
    margin-top: 2%;
    align-items: center;

}